


<!--ユーザーShowと同じの作成-->


<% if !current_user.nil? %>

     <!--ユーザーイメージ-->
      <div class="background_image_form">
        <!--// 画像があるときは画像を表示する-->
          <% if @user.background_image.present? %>
            <%= image_tag(@user.background_image.url , class:"w-100 ", ) %>
          <% else %>
             <div class="conteiner text-center pt-5"> 
              <h1 class=" bg-gray  mt-5">ユーザーホーム画像</h1>
              <i class="fas fa-image mt-4" style="font-size:130px;" id="icon"></i>
            </div>
          <% end %>
      </div>
    
    <!--モーションバー-->
    <%= render "shared/motion_bar"%>
    
    <!--メインView-->
    <div class=" background pb-5 pt-4 ">
      <div class="conteiner"> 
        <div class="row "> 
          
          <!--ユーザーステータス-->
          <div class="col-3 p-2">
          
            <!--<p>ユーザーステータス</p>-->
            <%= render "posts/post_form" %>
            <%= render "shared/user_status" %>
          </div>
          
          <!--記事-->
          <div class="col-6 p-1">
            <!--<p>記事</p>-->
            <% if @posts.any? %>
                <nav class="nav navbar-expand-lg bg-white border-bottom p-2">
                    <!--post_nav-->
                    <ul class="navbar-nav  mr-auto ">
                      <h5><b><%= link_to "ツイート", user_path(@user) ,class:"nav-item mr-3 ml-3" %></b></h5>
                      <div><%= link_to "ツイートと返信", user_path(@user) ,class:"nav-item" %></div>
                    </ul>
                </nav> 
          
              <!--記事一覧-->
              <%= render @posts %>
              <%= paginate @posts, window: 2 %>
            <% else %>
            
              <!--記事がないときの表示-->
              <%= render "posts/unpost.html.erb" %>
            <% end %>
          </div>
          
    
          <!--トレンド-->
          <div class="col-3 p-1">
            <!--<p>アクション</p>-->
            <%= render "shared/trend" %>
          </div>
           
        </div>
      </div>
    </div>
  
<% else %>
<div class="h-100 w-100 bg-blue m-0">

     <div class="row h-100 m-0">
        <div class="col-6 h-100 text-white" >
          <div class="col-10 m-auto">
            <h1 class="mt-5"><b>ツイートアップへようこそ</b></h1>
            <h3><b>サインアップしてツイートに参加しましょう</b></h3>
          </div>
        </div>
        
        
        <div class="col-6 bg-white h-100"  >
          <div class="col-md-6 m-auto h-100 ">
            <div class="mt-5 ">
                
                
                <div class="mt-5"><%= image_tag("logo.png", class:"rounded-circle mt-5", width:"50" ,height:"50") %></div>
                <h3><b>「いま」起きていることを見つけよう</b></h3>
                <h5 class="mt-4 mb-3"><b>Copwitterをはじめよう</b></h5>
                <div class="mt-2">
                  <%= link_to "サインアップする", signup_path, class:"btn btn-primary btn-block rounded-pill"  %>
                </div>
                <div class="mt-2">
                  <%= link_to "ログインする", login_path, class:"btn  btn-outline-primary btn-block rounded-pill"  %>
                </div>
            
              </div>
            </div>
        </div>
      </div>
  </div>
  <footer class="bg-light">
       <div class="" id="nav-fotter">
           <div class="conteiner">
                
                <ul class="nav">
                  <li class="nav-item">
                    <%= link_to "twetterについて" ,static_pages_about_path ,class:"nav-link",id:"link"  %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ヘルパー" , static_pages_hepl_path  ,class:"nav-link",id:"link"  %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "プライバシーポリシー" , static_pages_policy_path ,class:"nav-link",id:"link"  %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "企業理念" , static_pages_corporate_path ,class:"nav-link",id:"link"  %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "利用規約" , static_pages_agreement_path ,class:"nav-link",id:"link"  %>
                  </li>
                </ul>
          </div>
        </div>
  </footer>
    
    <style> 
        html{
          height: 100%;
        }
   
        body{
          height: 100%;
        }
        /*header{*/
        /*  position: fixed;*/
        /*  margin: 0px;*/
        /*  z-index: 10;*/
        /*  width: 100%;*/
        /*  top: 0;*/
        /*  left: 0;*/
        /*  }*/
          
          footer{
            position: fixed;
            z-index: 10;
            width: 100%;
            bottom: 0;
            left: 0;
            margin: 0px;
          }
        
        
        
    </style>
<% end %>