<div >
  <div class="row">
    <div class="col-md-5 m-auto col-md-offset-3">
    
      <!-- <h1>ログイン</h1>-->
      <!--<p>Find me in app/views/sessions/new.html.erb</p>-->
      <div class="bg-white border border-dark rounded-lg p-3 mt-5">
        <div class="pt-2 pr-3 pl-3 m-auto">
          <%= form_for(:session, url: login_path) do |f| %>
            <h3>ログイン</h3>
            
            <!--@userがないのでエラーを独自に実装-->
            <%#= render 'shared/error_messages', object: f.object %>
            
      
            <%= f.label :メール ,class: "mt-2"%>
            <%= f.email_field :email, class: 'border w-100 p-1' %>
      
            <%= f.label :パスワード ,class: "mt-2"%>
            <small><%= link_to "パスワードを忘れた", new_password_reset_path %></small>
            <%= f.password_field :password, class: 'border w-100 p-1' %>
      
            <div class="text-right mt-4 ">
              <%= f.submit "ログイン", class: "btn btn-primary rounded-pill pr-3 pl-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  header{
   border-bottom: solid 1px gainsboro;
  }
</style>