
<!--ユーザーイメージ-->
<div class="background_image_form">
  <!--// 画像があるときは画像を表示する-->
    <% if @user.background_image.present? %>
      <%= image_tag(@user.background_image.url , class:"w-100 ", ) %>
    <% else %>
      <div class="conteiner"> 
        <h1>Users#show</h1>
        <p>Find me in app/views/users/show.html.erb</p>
        <h1 class=" bg-gray text-center">ユーザーホーム画像</h1>
      </div>
    <% end %>
</div>


<!--モーションバー-->
<%= render "shared/motion_bar"%>


<div class=" background">
  <div class="conteiner"> 
  
    <!--メインView-->
    <div class="row "> 
      
      <!--ユーザーステータス-->
      <div class="col-3 p-2">
        <p>ユーザーステータス</p>
        <%= render "shared/user_status" %>
      </div>
      
      <!--記事-->
      <div class="col-6 p-1">
        <p>フォロー</p>
         <nav class="nav navbar-expand-lg bg-white border-bottom p-2">
            <!--post_nav-->
            <ul class="navbar-nav  mr-auto">
              <h5><b><%= @title %></b></h5>
            </ul>
        </nav> 
        <%= render @users %>
        <%= paginate @users, window: 2 %>
      </div>
      
      <!--トレンド-->
      <div class="col-3 p-1">
        <p>アクション</p>
        <%#= render "shared/user_signup"%>
        <%= render "shared/trend"%>
      </div>
    
    </div>
  </div>
</div>
