<div>
  <div class="row">
    <div class="col-md-5 m-auto col-md-offset-3">
      <div class="bg-white border border-dark rounded-lg p-3 mt-5">
        <div class="pt-2 pr-3 pl-3 m-auto">
          <%= form_for(@user, url: signup_path) do |f| %>
            <h3>アカウント作成</h3>
            
            <%= render 'shared/error_messages', object: f.object %>
            
            <%= f.label :名前 ,class: "mt-2" %>
            <%= f.text_field :name, class: 'border w-100 p-1' %>
      
            <%= f.label :メール ,class: "mt-2"%>
            <%= f.email_field :email, class: 'border w-100 p-1' %>
      
            <%= f.label :パスワード ,class: "mt-2"%>
            <%= f.password_field :password, class: 'border w-100 p-1' %>
      
      
            <div class="text-right mt-4 ">
              <%= f.submit "新規登録", class: "btn btn-primary  rounded-pill pr-3 pl-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>