
  <!--ユーザーイメージ-->
<div class="background_image_form">
  <!--// 画像があるときは画像を表示する-->
    <% if @user.background_image.present? %>
      <%= image_tag(@user.background_image.url , class:"w-100 ", ) %>
    <% else %>
      <div class="conteiner text-center pt-5"> 
        <h1 class=" bg-gray  mt-5">ユーザーホーム画像</h1>
        <i class="fas fa-image mt-4" style="font-size:130px;" id="icon"></i>
      </div>
    <% end %>
</div>

  <!--モーションバー-->
<%= render "shared/motion_bar"%>

  
  <!--メインView-->
<div class=" background pb-5">
  <div class="conteiner"> 
    <div class="row "> 
      
      <!--ユーザーステータス-->
      <div class="col-3 p-2">
        <p>ユーザーステータス</p>
        <%#= render "posts/post_form" %>
        <%= render "shared/user_status" %>
      </div>
      
      <!--記事-->
      <div class="col-6 p-1">
        <p>記事</p>
        <% if @posts.any? %>
          <nav class="nav navbar-expand-lg bg-white border-bottom p-2">
              <!--post_nav-->
              <ul class="navbar-nav  mr-auto ">
                <h5><b><%= link_to "ツイート", user_path(@user) ,class:"nav-item mr-3 ml-3" %></b></h5>
                <div><%= link_to "ツイートと変身", user_path(@user) ,class:"nav-item" %></div>
              </ul>
          </nav> 
                
          <%= render @posts %>
          <%= paginate @posts, window: 2 %>
        <% else %>
        
          <!--記事がないときの表示-->
          <%= render "posts/unpost.html.erb" %>
        <% end %>
      </div>
      

      <!--トレンド-->
      <div class="col-3 p-1">
        <p>アクション</p>
        <%= render "shared/user_signup"%>
        <%= render "shared/trend"%>
      </div>
    
    </div>
  </div>
</div>

