<div class="bg-white border-bottom " >
  <div class="conteiner">
    <nav class="navbar navbar-expand-lg p-0"> 
    
        <ul class="navbar-nav col-3 ">
        
          <% if @user.image.present? %>
            <%= image_tag(@user.image.url, class:"rounded-circle", width:"50" ,height:"50") %>
          <% else %>
            <%= image_tag("logo.png", class:"rounded-circle", width:"50" ,height:"50") %>
          <% end %>
          
          <li class="nav-item">
            <b><%= link_to @user.name , user_path(@user), class:"", id:"link" %></b><br>
            <span>@user</span>
          </li>
        </ul>
        
        <ul class="navbar-nav col-6 ">
        
          <!--ツイート-->
          <li class="nav-item text-center" id="navlink" >
            <%= link_to  @user ,class:"nav-link ", id:"link" do %>
              <b>ツイート</b></br>
              <b><%= @user.posts.count %></b>
            <% end %>
          </li>
          
          <!--フォロー-->
          <li class="nav-item text-center" id="navlink">
            <%= link_to following_user_path(@user) ,class:"nav-link" , id:"link"  do %>
             <b>フォロー</b></br>
             <b><%= @user.following.count %></b>
            <% end %>
          </li>
          
          <!--フォロワー-->
          <li class="nav-item text-center" id="navlink">
            <%= link_to  followers_user_path(@user) ,class:"nav-link" , id:"link"  do  %>
              <b>フォロワー</b></br>
              <b id="followers_count"><%= @user.followers.count %></b>
            <% end %>
          </li>
          
          <!--いいね-->
          <li class="nav-item text-center" id="navlink" >
              <%= link_to like_path(@user),class:"nav-link ",  id:"link" do  %>
             <b>いいね</b></br>
              <b id="like_count"><%= @user.likes.count %></b>
              <% end %>
          </li>
        </ul>
        
        
        <ul class="navbar-nav ml-auto">
          <li class="nav-item " id="follow_form">
            <% if !current_user.nil? %>
              <% unless current_user == @user %>
                    <% if current_user.following?(@user) %>
                      <%= render 'relationships/unfollow' %>
                    <% else %>
                      <%= render 'relationships/follow' %>
                    <% end %>
              <% end %>
            <% end %>
          </li>
        </ul>
    </nav>
  </div>
</div>
