<div class="bg-white border border-bottom">
  <div class="conteiner">
    <nav class="navbar navbar-expand-sm navbar-white "> 
    
        <ul class="navbar-nav col-3 ">
        
          <% if @user.image.present? %>
            <%= image_tag(@user.image.url, class:"rounded-circle", width:"50" ,height:"50") %>
          <% else %>
            <%= image_tag("logo.png", class:"rounded-circle", width:"50" ,height:"50") %>
          <% end %>
          
          <li class="nav-item">
            <b><%= link_to @user.name , user_path(@user), class:"", id:"link" %></b><br>
            
            <span>@user</span>
          </li>
        </ul>
        
        <ul class="navbar-nav col-6 ">
          <li class="nav-item ">
            <b><%= link_to "ツイート", @user ,class:"nav-link", id:"link" %></b>
          </li>
          
          <!--フォロー-->
          <li class="nav-item ">
            <%= link_to "フォロー #{@user.following.count}", following_user_path(@user) ,class:"nav-link text-dark"  %>
          </li>
          
          <!--フォロワー-->
          <li class="nav-item ">
            <%= link_to "フォロー #{@user.followers.count}", followers_user_path(@user) ,class:"nav-link text-dark"  %>
          </li>
          
          <!--いいね-->
          <li class="nav-item">
            <%= link_to "いいね", "#" ,class:"nav-link text-dark"  %>
          </li>
        </ul>
        
        
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <% if !current_user.nil? %>
              <% unless current_user == @user %>
                    <% if current_user.following?(@user) %>
                      <%= render 'relationships/unfollow' %>
                    <% else %>
                      <%= render 'relationships/follow' %>
                    <% end %>
              <% end %>
            <% end %>
          </li>
        </ul>
    </nav>
  </div>
</div>
