
<div class="mb-2 post">
    <div class="p-1">

          <div class="media p-2">
             
              <!--ユーザー画像-->
              <% if post.user.image.present? %>
                  <%= image_tag(post.user.image.url, class:"rounded-circle", width:"60" ,height:"60") %>
              <% else %>
                  <%= image_tag("logo.png", class:"rounded-circle", width:"60" ,height:"60") %>
              <% end %>
                  
              <div class="media-body ml-2">
                
                  <!--ユーザー名-->
                  <h6 class="" > 
                        <%= link_to post.user.name, user_path(post.user), class:"text-dark" %>
                        <small class="text-muted"><%= post.created_at %></small>
                        <%= "post.id : #{post.id}" %>
                  </h6>          
                    
                  <%= link_to post_path(post),class:"text-dark text-decoration-none" do %>
                    <div>
                      <!--記事内容-->
                      <tx class=""><%= post.content %></tx>  
                      
                      <!--画像-->
                      <%= image_tag post.picture.url if post.picture? %>
                    </div>
                  <% end %>
               
               
                <nav class="nav mt-2"> 
                  <!--コメントボタン-->
                      <li class="nav-item ml-2">
                          <%= link_to post_path(post),class:" btn p-0" do %>
                            <i class="far fa-comment-alt" id="fa-btn"> <span><%= post.comments.count %></span></i>
                          <% end %>
                      </li>
                    
                    <!--いいねボタン-->
                    <li class="nav-item ml-2" id="like_post_<%= post.id %>">
                       <% if !current_user.nil? %>
                          <% if @like = current_user.likes.find_by(post: post ) %>
                            <%= render "likes/unlike" , post: post %>
                          <% else %>
                            <%= render "likes/like", post: post %>
                          <% end %>
                        <% else %>
                          <%= link_to "#" do%>
                           <i class="far fa-heart btn" id="fa-btn"> <%= post.likes.count %></i>
                           <% end %>
                        <% end %>
                    </li>
                    
                    
                </nav> 
            </div>
              
              
             <!--#ドロップアウトボタン-->     
              <nav class="nav p-0"> 
                  <ul class="nav-item float: right">　 
                    <%= link_to "", "#", class:" fas fa-angle-down text-light ", 'data-toggle': :dropdown %>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <% if current_post?(post.user) %>
                        <li><%= link_to "削除する", post, method: :delete ,class:"dropdown-item text-danger" %></li>
                      <% end %>
                      <li><%= link_to "通報する", "#" ,class:"dropdown-item text-dark" %></li>
                    </ul>
                </ul>
              </nav> 
              
          </div>
          
    </div>
</div>

