 <!--ユーザーイメージ-->
<div class="background_image_form">
  <!--// 画像があるときは画像を表示する-->
    <% if @user.background_image.present? %>
      <%= image_tag(@user.background_image.url , class:"w-100 ", ) %>
    <% else %>
      <div class="conteiner"> 
        <h1>Users#show</h1>
        <p>Find me in app/views/users/show.html.erb</p>
        <h1 class=" bg-gray text-center">ユーザーホーム画像</h1>
      </div>
    <% end %>
</div>


<!--モーションバー-->
<%= render "shared/motion_bar"%>


<div class=" background pb-5">
  <div class="conteiner"> 
  
    <!--メインView-->
    <div class="row "> 
      
      <!--ユーザーステータス-->
      <div class="col-3 p-2">
        <p>ユーザーステータス</p>
        <%= render "shared/user_status" %>
      </div>
      
      <!--記事-->
      <div class="col-6 p-1">
        <p>記事</p>
        <% if !@post.nil? %>
        
          <div class="bg-white">
            <%= render @post %>
            <%= render "comments/comment_form"%>
          </div>
          
            <% if @comments.any?  %>
              <p class="mt-3">コメント</p>
            <% end %>
            <%= render  @comments %>
            <%= paginate  @comments, window: 2 %>
         
        <% else %>
        
          <!--記事がないときの表示-->
          <%= render "posts/unpost.html.erb" %>
        <% end %>
      </div>
      
      <!--トレンド-->
      <div class="col-3 p-1">
        <p>アクション</p>
        <%= render "shared/user_signup"%>
        <%= render "shared/trend"%>
      </div>
    
    </div>
  </div>
</div>
