
<footer class="border-top p-3 bg-blue ">
  <div class="conteiner mb-5">
        <%= link_to "twetterについて" ,static_pages_about_path ,class:"mr-3",id:"link"  %>           
        <%= link_to "ヘルパー" , static_pages_hepl_path  ,class:"mr-3",id:"link"  %>
        <%= link_to "プライバシーポリシー" , static_pages_policy_path ,class:"mr-3",id:"link"  %>
        <%= link_to "企業理念" , static_pages_corporate_path ,class:"mr-3",id:"link"  %>
        <%= link_to "利用規約" , static_pages_agreement_path ,class:"mr-3",id:"link"  %>
  </div>
</footer>