<header class="bg-white ">
  <div id="header">
  <div class="conteiner">
    <nav class="nav navbar-expand-sm navbar-white">
    
        <ul class="navbar-nav  mr-auto">
        
            <li class="navbar-item p-1" id="link" >
              <%= link_to (static_pages_home_path),id:"link"  do %>
                <%= image_tag("logo.png", alt: "tweet_app logo", class:"" ,width:"30" ,height:"30") %>  
              
                <span id="link" >copwitter</span>
              <% end %>  
            </li>
        </ul>
        
        <ul class="navbar-nav justify-content-end ">　
            
              <!--検索フォーム-->
                 <%= form_tag(search_path,:method => 'get' , class:" m-auto pr-3") do %>
                  <%= text_field_tag :search ,:"", class: "text-muted border rounded-pill p-1", placeholder: "検索"%>
                  <%#= submit_tag 'Search', :name => nil %>
                <% end %>
             
                    
        
                <!--#ドロップアウトボタンの追加-->
              <% if !current_user.nil?  %>
                  <li class="nav-link p-1" data-toggle="dropdown"  >  
                    
                      <% if current_user.image.present? %>
                        <%= image_tag(current_user.image.url, class:"rounded-circle p-1", width:"30" ,height:"30") %>
                      <% else %>
                        <%= image_tag("logo.png", class:" rounded-circle",width:"30" ,height:"30") %>
                      <% end %>
                      
                      <span class="" id="link">
                        <%= current_user.name %>
                      </span>
                   </li>    
                      
                 
                <ul class="dropdown-menu ">
                  <li><%= link_to "マイページ", current_user ,class:"dropdown-item"%></li>
                  <li><%= link_to "ユーザー一覧", "#" ,class:"dropdown-item" %></li>
                  <li><%= link_to "設定", edit_user_path(current_user), class:"dropdown-item" %></li>
                  
                  <li class="divider border-bottom border-light p-1"></li>
                  <li><%= link_to "ログアウト", logout_path, method: :delete, class:"dropdown-item" %></li>
                </ul>
                  
            <% else %>
                <%= link_to "新規登録", signup_path ,class:"nav-link p-2" ,id:"link" %>
                <%= link_to "ログイン", login_path ,class:"nav-link p-2" ,id:"link" %>      
            <% end %>
        </ul>
        
    </nav>
  </div>
  </div>
</header>
