<header class="bg-white border-bottom">


  <div class="conteiner">
  
    
    <nav class="nav navbar-expand-lg navbar-white">
    
        <ul class="navbar-nav  mr-auto">
         <%= link_to image_tag("logo.png", alt: "Rails logo", class:"navbar-item" ,width:"40" ,height:"40") %>
          <li class="navbar-brand">twitter</li>
        </ul>
        
        <ul class="navbar-nav float: right">　
            <% if !current_user.nil?  %>
            
                <!--#ドロップアウトボタンの追加-->
                <%= image_tag("logo.png", class:"nav-item rounded-circle",width:"35" ,height:"35") %>
                <%= link_to "#{current_user.name}", "#", class: "nav-link", 'data-toggle': :dropdown  %>
                  <ul class="dropdown-menu ">
                    <li><%= link_to "マイページ", current_user ,class:"dropdown-item"%></li>
                    <li><%= link_to "ユーザー一覧", "#" ,class:"dropdown-item" %></li>
                    <li><%= link_to "設定", edit_user_path(current_user), class:"dropdown-item" %></li>
                    
                    <li class="divider border-bottom border-light p-1"></li>
                    <li><%= link_to "ログアウト", logout_path, method: :delete, class:"dropdown-item" %></li>
                  </ul>
                  
            <% else %>
                <%= link_to "ホーム", static_pages_home_path ,class:"nav-link text-secondary" %>
                <%= link_to "about", static_pages_about_path ,class:"nav-link text-secondary" %>
                <%= link_to "新規登録", signup_path ,class:"nav-link text-secondary" %>
                <%= link_to "ログイン", login_path ,class:"nav-link text-secondary" %>      
            <% end %>
        </ul>
        
    </nav>
  </div>
</header>
