<header class="bg-white border-bottom-dark">
  <div class="conteiner">
    <nav class="nav navbar-expand-lg navbar-white">
    
        <ul class="navbar-nav  mr-auto">
        
            <li class="navbar-item" id="link" >
              <%= link_to (static_pages_home_path),id:"link"  do %>
                <%= image_tag("logo.png", alt: "tweet_app logo", class:"" ,width:"40" ,height:"40") %>  
              
                <span id="link" >twitter</span>
              <% end %>  
            </li>
        </ul>
        
        <ul class="navbar-nav justify-content-end ">　
            <% if !current_user.nil?  %>
            
            
                <!--#ドロップアウトボタンの追加-->
                  <li class="navbar-item" data-toggle="dropdown"  >  
                    
                      <% if current_user.image.present? %>
                        <%= image_tag(current_user.image.url, class:"rounded-circle p-1", width:"40" ,height:"40") %>
                      <% else %>
                        <%= image_tag("logo.png", class:" rounded-circle",width:"40" ,height:"40") %>
                      <% end %>
                      
                      <span id="link">
                        <%= current_user.name %>
                      </span>
                   </li>    
                      
                 

                
                <ul class="dropdown-menu ">
                  <li><%= link_to "マイページ", current_user ,class:"dropdown-item"%></li>
                  <li><%= link_to "ユーザー一覧", "#" ,class:"dropdown-item" %></li>
                  <li><%= link_to "設定", edit_user_path(current_user), class:"dropdown-item" %></li>
                  
                  <li class="divider border-bottom border-light p-1"></li>
                  <li><%= link_to "ログアウト", logout_path, method: :delete, class:"dropdown-item" %></li>
                </ul>
                  
            <% else %>
                <%= link_to "ホーム", static_pages_home_path ,class:"nav-link text-secondary" %>
                <%= link_to "about", static_pages_about_path ,class:"nav-link text-secondary" %>
                <%= link_to "新規登録", signup_path ,class:"nav-link text-secondary" %>
                <%= link_to "ログイン", login_path ,class:"nav-link text-secondary" %>      
            <% end %>
        </ul>
        
    </nav>
  </div>
</header>
